 @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

 *{
   font-family: 'Shadows Into Light', cursive;
 }
 
 body{
   background: url(./img/paper.jpg);
   background-size: cover;
   background-repeat: no-repeat;
 }
 .left{
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 90px;
   
 }
 .left a{
   position: absolute;
   bottom: 30%;
   left: 5%;
   text-decoration: none;
   font-size: 52px;
   border: 4px solid black;
   padding: 10px 30px;
   color: black;
   margin-left: 140px;
   background-color: white;
 }
 .left h1{
   margin-left: 120px;
 }
 .left .state2{
   margin: 15% 12%;
   font-size: 1.5em;
 }

 .right{
    position: fixed;
    /* background-color:aliceblue; */
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
 }

 .rocket{
    position: absolute;
    background: url(./img/rocket1.PNG) no-repeat center center;
    background-size: cover;
    left: 30%;
    bottom: 20px;
    width: 604px;
    height: 604px;
    margin-left: -191.5px;
    transition: bottom 5s;
    z-index: 2;
 }

main.main-state2 .rocket{
   background: url(./img/rocket-start.GIF) no-repeat center center;
   background-size: cover;
   /* width: 604px;
    height: 604px; */
}
main.main-state3 .rocket{
   background: url(./img/fly-rocket.GIF) no-repeat center center;
   background-size: cover;
}
main.main-state4 .rocket{

}
main.main-state5 .rocket{
   background: url(./img/boom.PNG) no-repeat center center;
   background-size: cover;
}
   
 .ground{
   background: url(./img/ground.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 5px;
    width:800px;
    height: 500px;
    z-index: 1;
    
 }
 .nervous{
   position: absolute;
   top: 100px;
   left: -100px;
   background: url(./img/nervous.PNG) no-repeat center center;
   background-size: cover;
   width: 423px;
   height: 100px;
   display: none;
 }
.moon{
   position: absolute;
   bottom: 440px;
   left: 50%;
   background: url(./img/moon.PNG) no-repeat center center;
   background-size: cover;
   width: 323px;
   height: 200px;
   margin-left: -180px;
   display: none;
}

.moon.show{
   display: block;
}
.nervous.show{
   display: block;
}
 main.main-state1 .rocket{
    transition: none ;
 }

 main.main-state3 .rocket,
 main.main-state4 .rocket{
    bottom: 1000px;
 }

 .state1,
 .state2,
 .state3,
 .state4,
 .state5 {
    display: none;
 }

main.main-state1 .state1{display: block;}
main.main-state2 .state2{display: block;}
main.main-state3 .state3{display: block;}
main.main-state4 .state4{display: block;}
main.main-state5 .state5{display: block;}

 a{

 }

 a.button{

 }

