 .left{
    position: fixed;
    background-color: bisque;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
 }

 .right{
    position: fixed;
    background-color:aliceblue;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
 }

 .rocket{
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 20px;
    height: 100px;
    background-color: rgb(64, 99, 100);
    transition: bottom 5s;
 }

 .ground{
    background-color: rgb(95, 172, 95);
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height: 20px;
 }

 main.main-state1 .rocket{
    transition: none ;
 }

 main.main-state3 .rocket,
 main.main-state4 .rocket{
    bottom: 1000px;
 }

 .state1,
 .state2,
 .state3,
 .state4,
 .state5 {
    display: none;
 }

main.main-state1 .state1{display: block;}
main.main-state2 .state2{display: block;}
main.main-state3 .state3{display: block;}
main.main-state4 .state4{display: block;}
main.main-state5 .state5{display: block;}

 a{

 }

 a.button{

 }

